---
export interface Props {
    post: any;
}

const { post } = Astro.props as Props;
---

<article class="flex flex-col gap-4 p-4 border bg-slate-400 hover:shadow-md text-slate-800">
    <div class="flex justify-between">
        <div class="flex gap-2">
            {post.frontmatter.tags?.map(tag => <span>#{tag}</span>)}
        </div>
        <p class="text-right whitespace-nowrap">Written on: {post.frontmatter.date}</p>
    </div>
    <a href={post.url} class="text-2xl font-semibold">{post.frontmatter.title}</a>
    <p>{post.frontmatter.description}</p>
</article>

<style>
    article:first-child {
        grid-area: firstPost;
    }
</style>